@keyframes vertical{
  from{
    transform: translatey(0)
  }
  to{
    transform: translatey(-50px)
  }
}

@keyframes horizontal{
  from{
    transform: translatex(0)
  }
  to{
    transform: translatex(-50px)
  }
}

@keyframes rotate{
  from{
    transform: rotate(0)
  }
  to{
    transform: rotate(180deg)
  }
}

@keyframes slide-down{
  from{
    opacity: 0;
    transform: translatey(-10px);
  }
  to{
    opacity: 1;
    transform: translatey(0);
  }
}

@keyframes pulseInner{
  from{
    transform: scale(1);
    opacity: 1
  }
  to{
    transform: scale(1.6);
    opacity: 0
  }
}
@keyframes pulseMiddle{
  from{
    transform: scale(1);
    opacity: 1
  }
  to{
    transform: scale(1.6);
    opacity: 0
  }
}
@keyframes pulseOuter{
  from{
    transform: scale(1);
    opacity: 1
  }
  to{
    transform: scale(1.6);
    opacity: 0
  }
}