/* FOOTER */
footer{
  padding-top: 120px;
  background-color: #05091A;
  /* position: fixed;
  inset: auto 0 0 0; */
  overflow: hidden;
  position: relative;
  
  span.rec-b{
    position: absolute;
    inset: 0 auto auto 0;
    animation: vertical 1.7s infinite ease-in;
    animation-direction: alternate;
  }

  span.wave{
    position: absolute;
    inset: -50px -30px auto auto;
    animation: horizontal 2.3s infinite ease-in-out;
    animation-direction: alternate;
  }

  span.rec-s{
    position: absolute;
    inset: auto 50px 100px auto;
    animation: horizontal 1.7s infinite ease-in;
    animation-direction: alternate;
  }

  span.rec-rotate{
    position: absolute;
    inset: auto 50px 100px auto;
    animation: rotate 2.6s infinite ease-in;
    animation-direction: alternate;
  }
  h1,
  h2{
    color: white;
  }
  p{
    color: #74787C;
  }

  .container{
    display: flex;
    flex-direction: column;
    padding-inline: 10px;

    .footer__table{
      position: relative;
      display: flex;
      flex-wrap: wrap;
      row-gap: 30px;
      column-gap: 50px;
      margin-bottom: 55px;
      justify-content: space-between;

      .footer__table-cta{
        h2{
          padding-block-end: 15px;
        }
        p{
          padding-block-end: 35px;
        }
        form{
          background-color: white;
          border-radius: 50px;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 5px;
          padding-inline-start: 30px;
          input{
            border: none;
            font-size: medium;
          }
        }
      }

      .footer__table-contact{
        display: flex;
        flex-direction: column;
        gap: 18px;

        h3{
          color: white;
        }
        .contact-info{
          display: flex;
          gap: 16px;
          justify-content: start;
          align-items: top;
          i{
            color: var(--primary-color)
          }
        }
      }

      .footer__table-social{
        p{
          padding-block: 25px;
          max-width: 350px;
        }
        .icons{
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 8px;
          a{
            width:50px;
            height: 50px;
            border-radius: 25px;
            background-color: #0D1329;
            align-content: center;
            text-align: center;
            color: #74787C;
            transition: color 0.4s, background-color 0.4s;
            &:hover{
              background-color: var(--primary-color)
            }
            &:hover i{
              color: white;
            }
          }
        }
      }
    }

    .footer__nav{
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      align-items: center;
      justify-content: space-between;
      padding: 15px;
      border: 1px solid rgba(255, 255, 255, 0.0705882353);
      border-radius: 100px;
      background-color: rgba(255, 255, 255, 0.0705882353);
      margin-block-end: 40px;

      .footer__nav-cta{
        padding: 13px 30px;
        background-color: white;
        border-radius: 100px;
        font-weight: 600;
        color: var(--primary-color);
        font-weight: 600px;
      }
      .footer__nav-links{
        display: flex;
        gap: 2em;
        margin-inline-start: 2.2em;
      }
    }

    .footer__privacy{
      border-top: 1px solid #161A2C;
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      justify-content: space-between;
      padding: 30px 0;

      .footer__privacy-links{
        display: flex;
        gap: 2em;
      }
    }
  }
}

/* RESPONSIVE */
@media screen and (max-width: 720px) {
  footer{
    span.wave{
      display: none;
    }
    .container{
      .footer__table{
        .footer__table-contact,
        .footer__table-social,
        .footer__table-cta{
          padding-inline: 0;
          border: none;
        }
      }

      .footer__nav{
        justify-content: center;
        border-radius: 20px;
        
        .footer__nav-links{
          margin-inline-start: 0;
          
        }
      }

      .footer__privacy{
        .footer__privacy-links{
          gap: 1em;
        }
      }
    }
  }
}