/* DEFAULT STYLES */
:root{
  --primary-color: #683BF2;
  --paragraph: #74787C;
}


/* RESET STYLES */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* GENERAL STYLES */

body{
  position: relative;
  direction: rtl;
  color: black;
  height: 1000px;
  font-family: IRANSans;
  scroll-behavior: smooth;
}

section{
  opacity: 0;
}

h1{
  font-size: 60px;
}

h2{
  font-size: 44px;
}

h3{
  font-size: 1.4rem;
}

p{
  font-size: 16px;
}

a{
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.text-purple{
  color: var(--primary-color)
}

.container{
  max-width: 1314px;
  margin: 0 auto;
  padding-inline: 10px;
}

.primary-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 13px 30px;
  border-radius: 100px;
  border: none;
  color: white;
  background-color: var(--primary-color);
  font-weight: 700;
}

.secondary-btn{
  color: var(--primary-color);
  background-color: white;
  font-size: 16px;
  font-weight: 700;
  border-radius: 100px;
  padding: 15px 30px;
}

.header{
  text-align: center;
  max-width: 568px;
  margin-inline: auto;

  span{
    margin-block-end: 14px;
  }
  p{
    margin-block-start: 15px;
    color: var(--paragraph)
  }
}

.icon{
  display: flex;
  justify-content:center;
  align-items: center;
  width: 93px;
  height: 93px;
  background-color: var(--primary-color);
}
.round{
  border-radius: 200px;
}
/* SCROLL TO UP BUTTON */
.up {
  position: fixed;
  inset: auto 30px 30px auto;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  background-color: var(--primary-color);
  color: white;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
}

/* RESPONSIVE */
@media screen and (max-width: 700px) {
  h1{
    font-size: 28px;
  }
  h2{
    font-size: 22px;;
  }
  h3{
    font-size: 20px;;
  }
  p{
    font-size: 14px;
  }

  .primary-btn{
    padding: 8px 18px;
    font-weight: 500;
    font-size: 16px;
  }

  .secondary-btn{
    font-size: 16px;
    font-weight: 500;
    padding: 8px 18px;
  }
}

.slide-up{
	-webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(200px);
    transform: translateY(200px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(200px);
    transform: translateY(200px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

