.projects{
  background-color: #05091A;
  overflow: hidden;
  padding-block: 115px 120px;
  .container{
    max-width: 100%;
    .header{
      h2{
        color: white;
      }
    }
    .carousel{
      margin-block-start: 65px;
      display: flex;
      gap: 30px;
      overflow-x: scroll;
      .card{
        min-width: 585px;
        border-radius: 20px;
        position: relative;
        overflow: hidden;

        .card__img{
          border-radius: inherit;
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: inherit;

          }
        }

        .card-btn{
          transition: all 0.8s;
          opacity:0;
          transform: translatey(-50px);
          position: absolute;
          inset: 20px 20px auto auto;
          background-color: none;
          i{
            align-content: center;
            text-align: center;
            width: 60px;
            height: 60px;
            border-radius: 50px;
            background-color: white;
            color: var(--primary-color);
          }
        }

        &:hover .card-btn{
          opacity: 1;
          transform: translatey(0);
        }
        &:hover .card__content{
          opacity: 1;
          transform: translatey(0);
        }
        .card__content{
          background-image: linear-gradient(to top, rgba(0, 0, 0, 0.81) 20%, transparent);
          position: absolute;
          inset: 0;
          padding: 30px;
          align-content: end;
          color: white;
          transition: all 0.8s;
          opacity:0;
          transform: translatey(50px);
          
          p{
            font-size: 18px;
            margin-block-start: 12px;
            color: rgb(232, 232, 232);
          }
          h3{
            font-size: 1.6rem;
          }

          a{
            margin-block-start: 38px;
            display: flex;
            justify-content: space-between;
            i{
              align-content: center;
              text-align: center;
              width: 26px;
              height: 26px;
              border-radius: 20px;
              border: 1px solid white;
            }
          }

        }
      }
    }
  }
}