.work-process{
  margin-block: 115px 80px;

  .work__content{
    margin-block-start: 65px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .box{
      
      max-width: 100%;
      flex: 1 1 0;
      padding: 15px;

      .box__header{
        display: flex;
        align-items: start;
        gap: 20px;
        margin-block-end: 32px;

        .box__header-icon{
          width: 112px;
          height: 112px;
        }
        .box__header-step{
          font-size: 60px;
          font-weight: 700;
          color: #E3E3EF;
          line-height: 1;

        }
      }

      .box__body{
        h3{
          font-weight: 700;
          padding-block-end: 13px;
        }
        p{
          max-width: 350px;
          color: var(--paragraph);
        }
      }
    }
  }
}

/* RESPONSIVE */
@media screen and (max-width: 1200px) {
    .box{
      max-width: 50%;
    }
}